/* Global */

:root {
	/* Color */
 	--color-white: #ffffff;
	--color-light-white: #eeeeee;
 	--color-dark-white: #bdbdbd;
 	--color-pink: #fe918d;
 	--color-dark-pink: #ff6863;
 	--color-dark-grey: #4d4d4d;
 	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-blue: #73aace;
 	--color-yellow: #fff7d1;
 	--color-orange: #feb546;
 	--color-black: #000000;

  	/* Font size */
	--font-large: 48px;
  	--font-medium: 26px;
  	--font-regular: 18px;
  	--font-small: 16px;
  	--font-micro: 14px;

	/* Font weight */
  	--weight-bold: 700;
  	--weight-semi-bold: 600;
 	--weight-regular: 400;
	
	/* Size */
	--size-border-radius: 4px;
	
	/* Annimation */
	--animation-duration: 300ms;
}

/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	cursor: default;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul {
	list-style: none;
	padding-left: 0;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;

}
/* Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px; 0px;
}

h3 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0px;
}
/* Navbar */
#navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	color: var(--color-white);
	padding: 6px;
	z-index: 1;
	transition: all var(--animation-duration) ease-in-out;
	opacity: 0.9;
	font-weight: var(--weight-bold);
}
#navbar.navbar--dark {
	color: var(--color-white);
	background-color: var(--color-black);
	padding: 6px;
}

.navbar__logo {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
}

.navbar__menu {
	display: flex;
}

.navbar__menu__item {
	padding: 6px 12px;
	margin: 0px 4px;
	cursor: pointer;
	border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
	border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
	border: 1px solid white;
	border-radius: var(--size-border-radius);
	background-color: var(--color-dark-grey);
}

.navbar__toggle-btn {
	position: absolute;
	top: 24px;
	right: 32px;
	font-size: 24px;
	color: var(--color-white);
	display: none;
}
/* Home */
#home {

}
.home__background {
	max-width: 100%;
	max-height: 100%;
}

.profile {
	position: relative;
	
}

.home__description {
	position: absolute;
	background-color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: all 500ms ease-in;
	color: var(--color-white);
}
.profile {
	filter: brightness(90%);
}

.profile:hover .home__description {
	transform: translateY(0px);
	opacity: 0.8;
}

.home__description h1 {
	color: var(--color-white);
	text-align: center;
}

.home__description h3 {
	color: var(--color-white);
	text-align: center;
}



/* Section common */
section {
	padding: 50px;
	text-align: center;
	margin: auto;
}

.section__container {
	max-width: 750px;
	margin: auto;
}
/* Category */

.work__categories {
	margin: 40px;
}

.lotte__category__btn,
.doosan__category__btn,
.kiwoom__category__btn {
	border: 1px solid var(--color-dark-white);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 48px;
	position: relative;
}

.lotte__category__btn.selected,
.lotte__category__btn:hover,
.doosan__category__btn.selected,
.doosan__category__btn:hover,
.kiwoom__category__btn.selected,
.kiwoom__category__btn:hover {
	background-color: var(--color-grey);
	color: var(--color-white);
}

.lotte__category__btn.active .category__count,
.lotte__category__btn:hover .category__count,
.doosan__category__btn.active .category__count,
.doosan__category__btn:hover .category__count,
.kiwoom__category__btn.active .category__count,
.kiwoom__category__btn:hover .category__count {
	opacity: 1;
	top: 5px;
}

.category__count {
	background-color: var(--color-white);
	border-radius: 50%;
	color: var(--color-black);
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	position: absolute;
	top: -15px;
	right: 16px;
	opacity: 0;
	font-weight: var(--weight-regular);
	transition: all var(--animation-duration) ease-in;
}

/* Uniform */
.lotte__uniforms, .doosan__uniforms, .kiwoom__uniforms {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all var(--animation-duration) ease-out;
}

.lotte__uniforms.anim-out, .doosan__uniforms.anim-out, .kiwoom__uniforms.anim-out {
	opacity: 0.6;
	transform: scale(0.96) translateY(40px);

}
.uniform__img{
	max-width: 260px;
	max-height: 260px;
	margin: 20px;
}

.lotte__uniform, .doosan__uniform, .kiwoom__uniform {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 300px;
	margin: 30px;
	background: var(--color-light-white);
}

.lotte__uniform.invisible, .doosan__uniform.invisible, .kiwoom__uniform.invisible {
	display: none;
}

.uniform__description {
	position: absolute;
	background-color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--animation-duration) ease-in;
	color: var(--color-white);
}

.lotte__uniform:hover .uniform__description,
.doosan__uniform:hover .uniform__description,
.kiwoom__uniform:hover .uniform__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.uniform__description h3 {
	color: var(--color-white);
	font-size: var(--font-size-small);
}

/* Footer */
#footer {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.footer__company p {
	font-size: var(--font-micro);
	color: var(--color-grey);
	margin: 2px;
	text-align: start;
}

.info__cs, .info__tm p {
	font-size: var(--font-micro);
	margin: 0px;
	text-align: end;
}

/* For below 768px screen width */
@media screen and (max-width: 1000px) {
	:root {
		/* Font size */
		--font-large: 30px;
		--font-medium: 18px;
		--font-micro: 12px;
	}
	#navbar {
		flex-direction: column;
		align-items: flex-start;
		background-color: transparent;
	}
	
	.navbar__menu {
		flex-direction: column;
		text-align: center;
		width: 100%;
		display: none;
	}
	
	#navbar.navbar--dark {
		padding: 16px;
	}
	
	.navbar__menu {
		flex-direction: column;
		text-align: center;
		width: 100%;
		display:none;
	}
	.navbar__menu.open {
		display: block;
	}
	.navbar__toggle-btn {
		display: block;
		top: 18px;
		font-size: var(--font-medium);
	}
	
	.footer__company p {
		font-size: var(--font-micro);
	}
}




